#temporary files are excluded   Create .gitignore add exclude *.tmp
*.tmp

#temporary folder is excluded   Update .gitignore add exclude temp folders
temp/

#All phases except phase1 are ignored
phase3/**
!phase1/**